{% extends "auctions/layout.html" %}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Three Brains</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'auctions:index' %}">Active Listings</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'auctions:add' %}">Add Item</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'auctions:watchlist' %}">Watchlist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'auctions:auctions_history' %}">Auctions History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auctions:category_list' %}">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'auctions:logout' %}">Log Out</a>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:category_list' %}">Categories</a>
                </li>
            {% endif %}
            </ul>
          </div>
        </nav>
{% endblock %}

{% block body %}
<form action="{% url 'auctions:add' %}" method="POST" enctype="multipart/form-data">  
    {% csrf_token %}
    <div class="form-group">
     
        <!--
            <input type="text" class="form-control" id="titleInput" placeholder="New entry title " >
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="New entry content">
            </textarea>
             
        -->
        <div class="card" style="padding: 50px; margin: 20px;">
            <h1 style="text-align: center;">Add Item</h1>
        {{ new_form }}
            <button style="margin-top: 10px;" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>            
   
</form>
{% endblock %}