{% extends "auctions/layout.html" %}
{% load static %}

{% block nav %}
<style>
  .ml-auto > li:hover {
    background-color: #6d6d6d5b;
    border-radius: 10px;
    
    opacity: 0.8;
  }
</style>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" style="background-color: #e3f2fd">
          <a class="navbar-brand" href="#">Three Brains</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <input class="form-control" id="myInput" type="text" placeholder="Search.." style="width: 40%;">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'auctions:index' %}">Active Listings</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'auctions:add' %}">Add Item</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'auctions:watchlist' %}">Watchlist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'auctions:auctions_history' %}">Auctions History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'auctions:category_list' %}">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'auctions:logout' %}">Log Out</a>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'auctions:category_list' %}">Categories</a>
                </li>
            {% endif %}
            </ul>
          </div>
        </nav>
{% endblock %}

{% block body %}

<br>

    <h2 style="text-align: center; color: #ffffff;">Active Listings</h2>
    {%if message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-left: 40px; margin-right: 40px ;">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {%endif%}
                          
    {% if items %}
        <div style="display: flex; justify-content: center;" >
            <div class="row" style="margin-top: 10px; width: 90%; display: flex; justify-content: space-between;" >
        {% for item in items_bids %}
              {% if item.0.status %}
                <div class="card-group">
                  <div class="col-lg-4">
                    <div class="card" style="width: 18rem; margin: 10px; border-radius: 15px; padding: 10px; box-shadow: 3px 3px 18px #dfdfdf;">
                        <img class="card-img-top"  style="height: 220px; border-radius: 15px;" src="{{item.0.img_url}}" alt="Card image cap">
                        <div style="padding: 10px 5px;">
                        <div style="display: flex; justify-content: space-between; align-items: center">
                          <h4 class="card-title">
                              <span style="display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #6d6d6d;">
                                {{item.0.title}}
                              </span>
                              </h4>
                          <h6 class="card-subtitle mb-2 text-muted">{{ item.0.user.username }}</h6>
                        </div>
                            <p class="card-text">
                                <span id="item-title" style="display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #6d6d6d;">
                                   {{item.0.description}}
                                </span>
                            </p>
                          
                          <div style="flex-direction: row; display: flex; align-items: baseline">
                            <span style="font-size: 18px; padding-right: 10px; color: #6d6d6d;">Bid</span>
                            {% if item.1 %}
                            <label style="font-size: 26px; color: #6d6d6d; font-weight: 600;">${{item.1}}</label>
                            {% else %}
                            <label style="font-size: 26px; color: #6d6d6d; font-weight: 600;">${{item.0.starting_bid}}</label>
                            {% endif %}
                            
                          </div>
                          <div style="display: flex; justify-content: space-between;">
                            <!-- <button onclick="showAlert('{{item.title}}');"  href="#" id="myBtn" class="btn btn-primary" data-toggle="modal">Open</button> -->
                            <form method="POST" action=" {% url 'auctions:listing_details' %} ">
                              {% csrf_token %}
                              <input hidden type="text" value="{{item.0.title}}" name="listing_title">
                              <button   href="#" id="myBtn" class="mdc-button mdc-button--raised" type="submit">
                                <span class="mdc-button__label" style="text-transform: capitalize;">Open</span></button>
                            </form>
                            <form method="POST" action=" {% url 'auctions:index' %} ">
                              {% csrf_token %}
                              <input hidden type="text" value="{{item.0.title}}" name="listing_title">
                              <button   href="#" id="myBtn1" class="mdc-button mdc-button--raised mdc-button--leading" type="submit">
                                <span class="mdc-button__ripple"></span>
                                <i class="material-icons mdc-button__icon" aria-hidden="true">bookmark</i>
                                <span class="mdc-button__label" style="text-transform: capitalize;">Wishlist</span>
                              </button>
                            </form>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
                {% endif %}
        {% endfor %}
        </div>
    </div> 
    {% else %}
          <h4>There's no listing at the moment</h4>
    {% endif %}

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
                <div style="width: 100%; box-sizing: border-box;">
                    <div class="box">
                        <img id="img_item_modal" style="height: 250px;"  src="" alt="Card image cap">
                    </div>

                    <h4 id="modal_title" class="modal-title">{{item.0.title}}</h4>
                    <div style="display: inline-block; position: relative;">
                       <label >Owner: </label> 
                       <label id="username_label">{{user.username}}</label>
                    </div>
                    <div>
                        <label >Current Bid: $</label> 
                        <label id="modal_bid"></label>
                    </div>
                </div>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <h5>Comments</h5>
             <div class="media-list">
                 <li class="media">
                     <a class="pull-left" href="#">
                        <img class="media-object rounded-circle" height="150px" src="{% static 'auctions/media/alejo_cat.jpeg'%}" alt="profile">
                     </a>
                     <div style="background-color: #E2E2E2; " class="media-body">
                         <div style="padding: 20px; " class="well well-lg">
                             <h4 id="" class="media-heading text-uppercase reviews">{{user.username}}</h4>
                             
                             <ul class="media-date text-uppercase reviews ">
                                <li>19</li>
                                <li>05</li>
                                <li>2021</li>
                             </ul>
                             <p class="media-comment">
                                Great job Alejo, Keep it up!
                             </p>
                             
                         </div>
                     </div>
                 </li>
             </div>
             
             <form method="POST" action="{% url 'auctions:add_comment' %}">
                <div class="form-group">
                    {% csrf_token %}
                    <label for="textAreaComment">New comment</label>
                    <input hidden  type="text" id="uname" name="username" value="{{user.username}}" > 
                    <!-- <textarea class="form-control" id="comment" rows="2" placeholder="Type a comment">USER</textarea> -->
                    <textarea class="form-control" rows="2" placeholder="Type a comment" id="comment", name="comment" value="USER"> </textarea>
                    <!-- {{commentForm}} -->
                    <div style="text-align: right;">
                    <button  id="addComment" type="submit" class="btn btn-secondary" >Comment</button>
                     </div>
                  </div> 
             </form>
             
                                         
            </div>
             <!-- Modal footer -->
             <div class="modal-footer">
                <button id="closeModalBtn" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    <script>
      $(document).ready(function(){
        $("#myInput").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#myList card").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
      </script>
    
    <script type="text/javascript">
    var data = json|safe
    var users = json_users|safe
    function showAlert(title){
                console.log("hi");
                console.log(title)
                var match_item = data.filter(item => item["fields"].title==title)
                
        
                var modal = document.getElementById("myModal");
                closeModalBtn = document.getElementById("closeModalBtn");
                closeModalBtn.onclick = closeModal;
                modal.style.display = "block";

                box_tag = document.getElementById("img_item_modal");
                username_tag = document.getElementById("username_label");
                modal_title = document.getElementById("modal_title");
                modal_bid = document.getElementById("modal_bid");

                item_user = Object.fromEntries(Object.entries(users).filter(([k,v]) => v===match_item[0]['fields'].user));
                username_tag.innerHTML = Object.keys(item_user)[0];
                modal_title.innerHTML = match_item[0]['fields'].title;
                modal_bid.innerHTML = match_item[0]['fields'].starting_bid;

                img_item_modal.setAttribute("src", match_item[0]['fields'].img_url);

               
                // closeModalBtn = document.getElementById("closeModalBtn");
                // closeModalBtn.onclick = closeModal;
            };
    // function addComment() {
    //     //Add a new comment logic
    //     var txtAreaComment = document.getElementById("commentText");
    //     console.log(txtAreaComment.value);
    //     }
        function closeModal(event){
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
            };
        window.onload = function(){
            // function showAlert(title){
            //     console.log("hi");
            //     console.log(title)
            //     // modal.style.display = "block";
            //     // closeModalBtn = document.getElementById("closeModalBtn");
            //     // closeModalBtn.onclick = closeModal;
            // };
            // var place_bid_btn = document.getElementsByClassName("btn btn-primary");
            // for (var i=0; i<place_bid_btn.length; i++){
            //     place_bid_btn[i].onclick = showAlert;
            // };
            //place_bid_btn.onclick = showAlert;
            // var modal = document.getElementById("myModal");
            // var closeModalBtn;
        
            // function showAlert(event){
            //     console.log("hi");
            //     modal.style.display = "block";
            //     // closeModalBtn = document.getElementById("closeModalBtn");
            //     // closeModalBtn.onclick = closeModal;
        
            // };
        
            function closeModal(event){
              modal.style.display = "none";
            };
        
        };
        </script>


{% endblock %}